@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;400;700&display=swap");

body {
    margin: 0;
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}
